body{
	background-image: url("fondo netflix.jpg");
}
.cajaLogo{
	position: fixed;
	background-color: black;
	width: 100%;
	height: 100px;
	margin-top: -10px;
}
.logo{
	position: absolute;
	width: 200px;
	height: 100px;
	float: left;
	margin-left: 100px;
	
}
.recordarContraseña{
	border: 2px solid grey;
	position: fixed;
	background-color: black;
	width: 400px;
	height: 300px;
	margin-left: 580px;
	margin-top: 250px;
}
.formulario{
	color: red;
	font-size: 26px;
	font-family: rockstar extra bold;
}